fastapi
uvicorn[standard]
python-dotenv
pydantic
pypdf
python-multipart
faiss-cpu
sentence-transformers
langchain
langchain-community
langchain-huggingface
langchain-text-splitters
langgraph
tavily-python
